// -------------- Colors --------------
$blue1: #00356B;
$blue2: #004182;
// -------------- Common --------------

body {
  background-color: white;
  color: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  padding: 0 !important; 
}

a {
  cursor: pointer;
  &:focus,
  &:hover,
  &:active,
  &:visited, {
    color:transparent;
    text-decoration: none !important;
  }
}

h1,
h5{
  margin:0 !important;
}

// -------------- Left Menu ----------

#left-menu-cont{
  position: fixed;
  left: 0;
  top: calc(50% - 112px);
  z-index: 1;
  ul{
    list-style-type: none;
    padding-left: 0;
  }
  li{
    display: flex;
    align-items: flex-start;
  }
  .left-menu-image{
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    img {
      padding-left: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 16px;
      width: 56px;
      height: 56px;
      background-color: #FFFFFF;
    }
    &:hover{
      background: $blue1; 
      .left-menu-pop{
        opacity: 1;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-left: 0%;
      }
    }
  }
  .left-menu-pop{
    opacity: 0;
    background-color: $blue2;
    font-family: 'Lato', sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.5s ease-in-out;
    font-size: 1.3rem;
    h5{
      color: white;
    }
  }
}

// -------------- Burger Menu ----------
.burger-container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 8%;
  right: 5%;
  transition: all 0.5s ease-in-out;
  p {
    color: white;
    margin-left: -4px;
  }
}

.burger-container.change{
  right: calc(5% + 90px);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change{
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }.bar2 {
    opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

.burger-caption{
  display: none;
}

p.burger-caption.change{
  display: block;
}

.burger-items{
  opacity:0;
  background-color: white;
  position: absolute;
  top: 15%;
  right: 0%;
  padding-top: 50px;
  transition: all 0.5s ease-in-out;
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  overflow: hidden;
  ul{
    list-style-type: none;
    padding-left: 0;
  }
  li {
    line-height: 1.4375rem;
    letter-spacing: 0.1071rem;
    padding-bottom: 0.78125rem;
    padding-top: 0.78125rem;
    transition: all 0.5s ease-in-out;
    padding-left: 50px;
    &:hover{
      background-color: #D8D8D8;
      color: black;
    }
  }
  p{
    line-height: 1.1875rem;
    letter-spacing: 0.0383rem;
    margin-top: 30vh;
    padding-left: 50px;
  }
}

.change.burger-items{
  opacity: 1;
  padding-right: 90px;
  li {
    width: calc(100% + 90px);
  }
}

// -------------- Main/Header ----------
#header{
  height: 100vh;
  background-image: url('../images/bg-main.png');
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
  h1{
    position: relative;
    top: calc(50% - 5rem);
    font-family: 'Playfair Display', serif;
    font-size: 4.5625rem;
    color: white;
    line-height: 5rem;
    letter-spacing: 0.22rem;
    font-weight: 700;
    text-align: center;
  }
}

#maing-logo{
  position: absolute;
  left: 8%;
  top: 8%;
}